{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur le meilleur réseau d'appartement{% endblock %}

{% block body %}

    <div class="jumbotron mt-5">
        <h1 class="display-3">Bienvenue sur VetchoBNB</h1>
        <p class="lead">Nous proposons des arrangements pour l'hébergement, principalement des séjours chez l'habitant 
        ou des expériences touristiques.</p>
        <hr class="my-4">
        <p>Vous souhaitez voyager, et vous cherchez une solution d'hébergement pas cher ?</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Voir nos annonces</a>
        </p>
    </div>

    <h2>Nos appartements stars</h2>
    
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                    3chambres, <strong>55&euro; / nuit</strong><br>
                    <small>Pas encore noté</small>

                    <img src="http://placehold.it/1000x400" alt="Image de l'appartement" 
                    style="height: 200px; width: 100%; display: block">

                    <div class="card-body">
                        <h4 class="card-title">
                            Très beau appartement
                        </h4>
                        <div class="card-text">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus delectus 
                            eaque nesciunt voluptas exercitationem numquam! Est, ullam voluptates officia 
                            atque itaque consectetur quo saepe quasi. Voluptatibus non deleniti fugiat quos.Dolore 
                            consectetur praesentium maiores ipsa facilis qui nobis provident nihil ducimus quisquam?
                            Ea odio nostrum quaerat, eum in iste beatae commodi, corrupti velit ducimus dolorem maxime 
                            eveniet culpa est porro?
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                    3chambres, <strong>69&euro; / nuit</strong><br>
                    <small>Pas encore noté</small>

                    <img src="http://placehold.it/1000x400" alt="Image de l'appartement" 
                    style="height: 200px; width: 100%; display: block">

                    <div class="card-body">
                        <h4 class="card-title">
                            Très beau appartement
                        </h4>
                        <div class="card-text">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus delectus 
                            eaque nesciunt voluptas exercitationem numquam! Est, ullam voluptates officia 
                            atque itaque consectetur quo saepe quasi. Voluptatibus non deleniti fugiat quos.Dolore 
                            consectetur praesentium maiores ipsa facilis qui nobis provident nihil ducimus quisquam?
                            Ea odio nostrum quaerat, eum in iste beatae commodi, corrupti velit ducimus dolorem maxime 
                            eveniet culpa est porro?
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                    3chambres, <strong>123&euro; / nuit</strong><br>
                    <small>Pas encore noté</small>

                    <img src="http://placehold.it/1000x400" alt="Image de l'appartement" 
                    style="height: 200px; width: 100%; display: block">

                    <div class="card-body">
                        <h4 class="card-title">
                            Très beau appartement
                        </h4>
                        <div class="card-text">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus delectus 
                            eaque nesciunt voluptas exercitationem numquam! Est, ullam voluptates officia 
                            atque itaque consectetur quo saepe quasi. Voluptatibus non deleniti fugiat quos.Dolore 
                            consectetur praesentium maiores ipsa facilis qui nobis provident nihil ducimus quisquam?
                            Ea odio nostrum quaerat, eum in iste beatae commodi, corrupti velit ducimus dolorem maxime 
                            eveniet culpa est porro?
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </div>

    <h2>Nos propriétaires stars</h2>

    <div class="row">
        <div class="col">
            <div class="card border-secondary mb-3">
                <div class="card-body">
                    <h4 class="card-title">
                        Patco
                    </h4>

                    <hr>

                    <div class="card-text">
                        <img src="http://placehold.it/64x64" alt="Avatar de Patco" class="float-left mr-3">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae voluptate veniam in 
                        suscipit repudiandae dolorum corrupti? </p>
                        <a href="#" class="btn btn-success float-right">En savoir plus</a>
                    </div>
                </div>
            </div> 
        </div>
        <div class="col">
            <div class="card border-secondary mb-3">
                <div class="card-body">
                    <h4 class="card-title">
                        Kyliou
                    </h4>

                    <hr>

                    <div class="card-text">
                        <img src="http://placehold.it/64x64" alt="Avatar de Patco" class="float-left mr-3">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae voluptate veniam in 
                        suscipit repudiandae dolorum corrupti? </p>
                        <a href="#" class="btn btn-success float-right">En savoir plus</a>
                    </div>
                </div>
            </div> 
        </div>
    </div>

{% endblock %}
