{% extends 'base.html.twig' %}

{% block title %}Création d'une annonce{% endblock %}

{% form_theme formAd 'ad/_collection.html.twig' %}

{% block body %}

    <div class="container">

        <h1>Création d'une nouvelle annonce</h1>

        {{ form_start(formAd) }}

        {{ form_widget(formAd) }}

        <button type="submit" class="btn btn-primary">Créer une nouvelle annonce</button>

        {{ form_end(formAd) }}   

    </div>

{% endblock %}

{% block javascripts %}

    <script src="/js/ad.js"></script>

{% endblock %}